.experienceContainer {
    display: flex;
    margin: 5vh 0;
}

.experienceText {
    margin-left: 0.5rem;
}

.experienceTitle {
    margin: 0;
}

.experienceRole {
    margin: 0;
    font-weight: bold;
    color: gray;
}

.experienceImage {
    border-radius: 25px;
}