html,
body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    scroll-behavior: smooth;
}

h1 { /*title*/
    font-size: 3rem;
}

h2 { /*header 1*/
    font-size: 2.5rem;
}

h3 { /* header 2*/
    font-size: 2rem;
}

h4 { /*header 3*/
    font-size: 1.5rem;
}