.container {
    display: flex;
    flex-direction: column;
}

.experiencesContainer {
    max-width: 60vw;
    margin: 20vh 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projectsContainer {
    align-self: center;
    margin: 25vh 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    column-gap: 2.5vw;
    row-gap: 2.5vw;
}

.connectContainer {
    margin: 25vh 0;
    display: flex;
    justify-content: center;
}